.fl{
    float: left;
}
.fr {
    float: right;
}
.clearfix:after,
.clearfix:before {
    content:"";
    clear: both;
    display: table;
}
.navbar-item {
    display: inline-block;
    line-height: 2;
    padding: 2px 4px;
}
.navbar-item :first-child{
    margin-left: 4px;
}

.navbar {
    background: rgba(0,0,0, .1);
}
.brand{
    font-size:25px;
    font-weight: bold;
    padding-left:15px;
}