.fl{
    float: left;
}
.fr {
    float: right;
}
.clearfix:before {
    content:"";
    clear: both;
    display: table;
}
.navbar-item {
    display: inline-block;
    line-height: 1.5;
}
.navbar {
    background: rgba(0,0,0, .1);
}